<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superhero Detail</title>
</head>

<body>
    <h1>{{one_hero.name}}</h1>
    <ul>
        <li>
            Alter Ego: {{one_hero.alter_ego}}
        </li>
        <li>
            Primary Superpower: {{one_hero.prim_superpower}}
        </li>
        <li>
            Secondary Superpower: {{one_hero.secon_superpower}}
        </li>
        <li>
            Catchphrase: {{one_hero.catchphrase}}
        </li>
    </ul>
</body>

</html>